/* ----------Общие стили---------- */

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-text-color-theme-dark: #ffffff;
  --accent-color: #2196f3;
  --primary-light-page-background: #ffffff;
  --secondary-light-page-background: #f5f4fa;
  --dark-page-background: #2f303a;
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-light-page-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ----------Шапка---------- */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.logo-part {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link-active {
  color: var(--accent-color);
}

.contact-info-email,
.contact-info-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-info-email:hover,
.contact-info-email:focus,
.contact-info-tel:hover,
.contact-info-tel:focus {
  color: var(--accent-color);
}

/* ----------Hero---------- */

.hero {
  background: var(--dark-page-background);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-color-theme-dark);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-text-color-theme-dark);
  background: var(--accent-color);
  cursor: pointer;
}

/* ----------Компоненты---------- */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.skills-title,
.employees-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employees {
  background: var(--secondary-light-page-background);
}

.employees-list-item {
  background: var(--primary-light-page-background);
}

.employees-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employees-list-description {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background: var(--dark-page-background);
}

.logo-theme-dark {
  color: var(--main-text-color-theme-dark);
}

.address-list-link {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color-theme-dark);
}

.address-list-link-email,
.address-list-link-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list-link:hover,
.address-list-link:focus,
.address-list-link-email:hover,
.address-list-link-tel:hover,
.address-list-link-email:focus,
.address-list-link-tel:focus {
  color: var(--accent-color);
}

/* Портфолио */

.projects-filter-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: #f5f4fa;
  cursor: pointer;
}

.projects-filter-button:hover,
.projects-filter-button:focus {
  color: #ffffff;
  background: var(--accent-color);
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.projects-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
